$color-green: #199819;
$color-yellow: #91911f;
$color-red: #8f3232;
$color-orange: orange;
$color-dark-grey: #333;
$color-white: white;

// Game
$container-outline: 1px solid $color-white;
$container-margin-top: 30px;
$container-transform-scale: 2;
